@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Merriweather:wght@900&display=swap');
#menuid2 ,#menuid{
    display: none;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.ancho{
    max-width: 1200px;
    margin: auto;
}
figure img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Principio HEADEER-------------- */
.arribacabecera{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5D39C4;
    height: 50px;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;

}
.correo{
    display: flex;
    justify-content: space-around;
    /* border: 1px red solid; */
    width: 50%;
    margin-left: 8%;
    flex-wrap: wrap;
}
.redessociales{
    width: 15%;
    display: flex;
    /* border: 1px red solid; */
    justify-content: space-around;
    margin-right: 8%;
}
.redessociales i{
    font-size: 18px;
    background-color: none;
    border-radius: 50%;
    padding: 5px 5px;
    transition: all 0.5s;
}
.redessociales i:hover{
    background-color: #fff;
    color: #5D39C4;
    margin-bottom: 10px;
}
.cabecera{
    position:fixed;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    right:0px;
    left:0px;
    background-color: #fff;
    margin-top: 0px;
    z-index: 99;
    width: 100%;
}
.abajo{
    background-color: #fff;
    transition: 0.7s;
    position: fixed;
    top:0px;
    transition: all 0.7s;
}
.logo{
    width: 15%;
    margin-left: 8%;
    /* border: 1px red solid; */
}

/* Botones del Menu */
.headermenu{
    width: 70%;
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.headermenu ul{
    display: flex;
    align-items: center;
}
.headermenu ul li{
    list-style: none;
    /* border: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center; */
}
.headermenu ul li .opcion{
    text-decoration: none;
    /* color: #5D39C4; */
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    display: flex;
    padding: 10px 20px;
    margin-right : 10px;
    cursor: pointer;
    /* border: 1px red solid; */
    transition: all 0.5s;
}
.headermenu ul li .opcion:hover{
    color: #5D39C4;
    transform: rotateY(360deg);
}
.headermenu ul li .opcion i{
    margin-top: 3px;
    margin-left: 10px;
}
.acordeonA, .acordeonB,.acordeonC, .acordeonD{
    display: none;
    position: absolute;
    background-color: #5D39C4;
    color: #fff;
    border-radius: 10px;
    padding: 10px 15px;
    margin-top: 15px;
}
.iconoA, .iconoB, .iconoC, .iconoD{
    transform: rotate(270deg);
    transition: all .5s;
}
.rotar{
    transform: rotate(180deg);
    color: white;
}
.opcionesextra{
    padding: 10px 15px;
    border: 1px #fff solid;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    display: flex;
}
/* Fin Botones del Menu */

/* Extras de la cabecera */
.extrascabecera{
    /* width: 20%; */
        display: flex;
        justify-content: center;
    /* border: 1px black solid; */
}
.extrascabecera i{
    color: #5D39C4;
    padding: 8px 8px;
    border-radius: 50%;
    border: 1px #5D39C4 solid;
    margin: 0px 10px;
    font-size: 18px;
   transition: all 0.5s;
}
.extrascabecera i:hover{
    color: #fff;
    border: 1px #fff solid;
    background-color: #5D39C4;
    font-size: 20px;
}
.main{
    padding-top: 50px;
}


/* Para que quede fijado cabecera */
.menu-fixed-vic {
    position:fixed !important;
    animation-name:fdown;
    animation-duration: 0.7s;
    animation-delay: 0ms;
    animation-timing-function: ease-in-out;
  }
  .cabecera3{
    margin-top: -50px;
    z-index: 2;
  }
  @keyframes fdown {
  0%{
  transform:translatey(100%);

  }
    100% {

       transform:translatey(0%);
  }
}

.modal{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 110;
    position: absolute;
    top: 0;
    left: 0;
    /* display: none; */
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
}
.modal .tacha{
    position: absolute;
    top: 20%;
    right: 25%;
    font-size: 30px;
    color: #fff;
    transition: all 0.5s;
}
.modal .tacha:hover{
    color: #000;
    transform: rotate(180deg);
}
.buscarform{
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;

}
.buscarform input{
    padding: 10px 100px 10px 10px;
    background:#fff ;
    border: none;
}
.buscarform label{
    background-color: #fff;
    padding: 8.5px;
}
  /* Final de Header--------------- */

  /* Empieza Imagen Largo */
  .ImagenLarga{
    background-image: url(../imagenes/AbouPage/ImagenLarga.jpg);
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 100px;
  }
  .TextoImagenLarga{
    position: absolute;
    width: 30%;
    height: 100%;
    color: #fff;
    /* border: 3px lime solid; */
    top: 35%;
    left: 35%;
    text-align: center;
  }
  .seccion1{
    display: flex;
    background-color: #F8FAFE;
  }
  .letrasychekpoint{
    width: 60%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .letrasychekpoint h2{
    width: 80%;
    font-family: 'Abel', sans-serif;
    margin-bottom: 20px;
    font-size: 32px;
  }
  .letrasychekpoint p{
    width: 80%;
    margin: 15px 0px;
    opacity: .5;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
  }
  .letrasychekpoint ul{
    width: 80%;
    list-style: square;
    padding-left: 20px;
    opacity: .5;
    font-size: 16px;
    font-family: 'Abel', sans-serif;
  }
/* Seccion 2 CARDS */
.CardsMoradas{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 50px auto;
    margin: 30px 0px;
}
.card{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    text-align: center;
    margin: 10px 15px;
    transition: all 0.5s;
    padding: 20px 10px;
    cursor: pointer;
}
.card:hover{
    box-shadow: 0px 8px 16px rgba(94, 57, 196, 0.631);
    transform: translateY(-10px);
    background-color: rgba(94, 57, 196, 0.631);
    border-radius: 30px 5px 30px 5px;
    border-bottom: 2px #5D39C4 solid;
}
.card:hover h3{
    color: #fff;
}
.card:hover i{
    color: #fff;
}
.card:hover p{
    color: #fff;
    opacity: 1;
}
.card figure{
    width: 80px;
}
.card h3{
    width: 80%;
}
.card p{
    width: 80%;
    opacity: .5;
}
/* Termina Seccio 2 CARDS */

/* Empieza Seccion 3 */
.Seccion3{
    background-color: #F8FAFE;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    padding-bottom: 30px;
}
.Seccion3 h3{
    color: #000;
}
.OurTopPartner{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.OurTopPartner h3{
    font-size: 40px;
    text-align: center; 
}
.OurTopPartner p{
    font-size: 20px;
    text-align: left;
    width: 70%;
    margin: auto; 
    margin-bottom: 25px;
    opacity: .5;
}
.fotos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.fotos figure{
    width: 33.3%;

}
.OurClientsay{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.OurClientsay h3{
    padding-left: 15px;
    width: 80%;
}
.OurClientsay p{
    width: 80%;
    opacity: .5;
    padding-left: 15px;
}
.OurUno{
    
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 8px 0px;
    /* border: 1px lime solid; */
    margin: 20px 0px;    
    transition: all 0.5s;

}
.OurUno:hover{
    box-shadow: 0px 8px 16px rgba(30, 30, 31, 0.631);
    transform: translateX(50px) translateY(30px);

}
.OurUno p{
    width: 100%;
    text-align: left;
    font-size: 18px;
    opacity: .5;
}
.contenedorImgOurUno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}
.contenedorImgOurUno figure{
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
}
.contenedorImgOurUno figure img{
    border-radius: 50%;
}
.textoImagenUno{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}
.textoImagenUno h4{
    font-size: 20px;
}
.textoImagenUno h5{
    opacity: .5;
}
.estrellasOurUno{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0px;
}
/* Termina Seccion 3 */

/* EMpieza Seccion 4 Cards Integrantes */
.seccionCardsTeam{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.TextoCardsTeam{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TextoCardsTeam h1{
    font-size: 34px;
}
.TextoCardsTeam h4{
    text-align: center;
    opacity: .5;
    margin: 15px;
}
.cardsEquipo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cardsEquipo .tarjetaIntegrante{
    margin: 20px 20px;
    box-shadow: 0px 8px 16px rgba(30, 30, 31, 0.631);
    /* border: 1px rgba(30, 30, 31, 0.631) solid; */
    padding: 5px 7px;
    transition: all 0.7s;
}
.cardsEquipo figure{
    overflow: hidden;
}
.cardsEquipo figure img{
    transition: all .5s;
}
.cardsEquipo figure img:hover{
    transform: scale(1.1);
}
.cardsEquipo .tarjetaIntegrante:hover{
    transform: translateY(-20px);
}
.contenedorbot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedorbot h4{
    font-size: 24px;
    margin: 8px 0px;
    font-family: 'Abel', sans-serif;
}
.contenedorbot h5{
    font-size: 18px;
    opacity: .5;
    margin: 8px 0px;
}
.contenedorbot i{
    margin: 8px 10px;
}
.twitter{
    color:#1D9BF0 ;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
}
.twitter:hover{
    color:#5D39C4 ;
    transform: rotateX(45deg);
}
.facebook{
    color: #4867AA;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
}
.facebook:hover{
    color:#5D39C4 ;
    transform: rotateX(45deg);
}
.instagram{
    color: #F70141;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
}
.instagram:hover{
    color:#5D39C4 ;
    transform: rotateX(45deg);
}
.linked{
    color: #0270AD;
    font-size: 20px;
    transition: all 0.5s;
    cursor: pointer;
}
.linked:hover{
    color:#5D39C4 ;
    transform: rotateX(45deg);
}

/* Termina Seccion 4 Cards Integrantes */
  /* FOOOTER FINAL */
  .piePagina{
    background-image: url(../imagenes/footerfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 412px; */
    /* height: 600px; */
    /* border: 1px red solid; */
    /* position: relative; */
    background-color: #0f1b28;
  }
  .footer-section::after {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0;
    background: url(../imagenes/footerfondo.png) no-repeat;
    /* transform: translateY(-50%); */
}
.informacionpiePagina{
    max-width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0px;
    /* border: 1px lime solid; */
}
.informacionpiePagina article{
    margin: 0px 15px;
}
.FooterAbajoA{
    background-color: #0f1b28;
    width: 100%;
    /* border: 2px yellow solid; */
    text-align: center;
}
.FooterAbajoB{
    margin: auto;
    width: 60%;
    padding: 15px 0px;
    border-top: rgba(255, 255, 255, .5) 2px solid;
    color: #fff;
}
.numero1, .numero2, .numero3, .numero4{
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    width: 20%;
    /* border: 1px lime solid; */

}
.numero1 figure{
    width: 200px;
}
.numero1 p{
    font-size: 16px;
    color: #fff;
    margin: 8px 0px;
}
article h3{
    margin: 15px 0px;
    font-size: 28px;
    font-family: 'Abel', sans-serif;
    color: #fff;
}
.numero2 div{
    margin: 10px 0px;
}
.numero2Ubicacion ,.numero2Celular, .numero2Correo{
    display: flex;
    color: #fff;
}

.numero2Ubicacion i{
    margin-right: 10px;
    font-size: 24px;
}
.numero2Ubicacion p{
    font-size: 18px;
}

.numero2Celular i{
    margin-right: 10px;
    font-size: 24px;
}
.numero2Celular p{
    font-size: 18px;
}
.numero2Correo i{
    margin-right: 10px;
    font-size: 24px;
}
.numero2Correo p{
    font-size: 18px;
}

.contenedorImagen{
    display: flex;
    margin: 8px 0px;
    /* border: 1px red solid; */
    transition: all 1s;
}
.contenedorImagen figure{
    max-width: 80px;
    overflow: hidden;
    
}
.imagen{
    transition: all 0.5s;
    cursor: pointer;
}
.letrasImagen{
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
    font-family: 'Abel', sans-serif;
}

.contenedorimg:hover .imagen{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}

.contenedorImagenesseis{
    display: flex;
    flex-direction: column;
}
.ImagenesUno{
    display: flex;
    flex-direction: row;
}
.ImagenesUno figure{
    width: 80px;
    margin: 2px 2px;
}
.UnoImg:hover .imagen{
    -webkit-transform:scale(1.3);transform:scale(1.3);
}
/* Termina  */

/* GOTOP */
 
.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
  }
  
  .go-top-button {
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: 0.2s;
  }
  
  .show {
    z-index: 10;
  }
  
  .show .go-top-button {
    animation: popup 0.3s ease-in-out;
    width: 4.6rem;
    height: 4.6rem;
    z-index: 11;
  }
  
  .show i {
    transform: translate(-50%, -50%) scale(1);
  }
  
  @keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
  }

