@media (max-width:420px){
/* *{
    border: 1px red solid;
} */
    /* Principio de Cabecera */
    /* Principio de Cabecera */
    .headermenu{
        display: none;
    }
    .arribacabecera{
        display: none;
    }
    .cabecera3{
    /* margin-top:6px;  */
    }
    .logo{
        width: 60%;
        /* border: 1px red solid; */
    }
    .menu{
        width: 30%;
        font-size: 25px;
        text-align: center;
    }
    #menuid{
        display: block;
        color: #000;
    }
    #menuid2{
        display: none;
    }
    .headermenu{
        flex-wrap: wrap;
        width: 100%;    
    }
    .headermenu ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border: 1px green solid; */
        padding: 10px 10px;
    }
    .headermenu ul li{
        width: 100%;
        /* border: 1px red solid; */
        transition: all 0.5s;
        border-bottom: 1px solid rgba(122, 122, 122,.3);   
    }
    .headermenu ul li a{
        display: flex;
        justify-content: space-between;
    }
    .extrascabecera{
        display: flex;
        justify-content: flex-start;
        /* border: 1px red solid; */
        margin-left: 20px;
        padding-bottom: 20px;
    }
    .acordeonA, .acordeonB,.acordeonC, .acordeonD{
        display: none;
        position: static;
        background-color: #5D39C4;
        color: #fff;
        border-radius: 10px;
        padding: 10px 15px;
        margin: 15px 0px;
    }
    .cabecera{
        position: static;
        transition: all 0.7s;
    }
    /* Fin de Cabecera */

    /* inicio de Seccion 1 */
    .letrasimagengrande{
        flex-wrap: wrap;
        padding: 50px 0px 25px 0px;
        /* border: 1px red solid; */
    }
    .letrasmodern{
        margin-left:0px ;
    }
    .letrasmodern h1{
        margin-left: 0px;
        text-align: left;
        font-size: 22px;
        width: 300px;
        /* border: 1px red solid; */
    }
    .letrasmodern p{
        margin-left: 0px;
        text-align: left;
        font-size: 13px;
        width: 310px;
        /* border: 1px red solid; */
    }

    .modal .tacha{
        position: absolute;
        top: 20%;
        right: 10%;
        font-size: 30px;
        color: #fff;
        transition: all 0.5s;
    }
    .modal .tacha:hover{
        color: #000;
        transform: rotate(180deg);
    }
    .buscarform{
        position: absolute;
        top: 40%;
        left: 20%;
        border-radius: 15px;
        text-decoration: none;
        display: flex;
        align-items: center;
        
    }
    .buscarform input{
        max-width: 200px;
        padding: 10px 40px 10px 10px;
        background:#fff ;
        border: none;
    }
    .buscarform label{
        background-color: #fff;
        padding: 8.5px;
    }
/* FOOOTER */
.informacionpiePagina{
    flex-direction: column;
    padding-top: 30px;
    /* border: 1px lime solid; */
  }
  .numero1, .numero2, .numero3, .numero4{
    width: 100%;
}
    /* fin de Seccion 1 */
    
    /* Empieza Seccion2Foto Grande y Fotitos CSS*/
    .fotoGrandeyFotitos{
        /* border: 5px black solid; */
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .fotos{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border: 1px blue solid; */
    }
    .fotosfigure{
        width: 95%;
    }
    .cañapescar{
        display: none;
    }
    .pescadorGrande{
        display: none;
    }
    .fotitosFotogrande{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* border: 1px red solid; */
    }
    .titulofotitos{
        width: 90%;
        text-align: justify;
    }
    .titulofotitos h2{
        font-size: 22px;
    }
    .titulofotitos p{
        font-size: 20px;
    }
    /* .fotitos{
        display: flex;
        flex-direction: column;
        border: 1px black solid;
    } */
    .fila1, .fila2{
        width: 100%;
        /* border: 5px green solid; */
        display: flex;
        flex-direction: column;
    }
    .fila1A, .fila1B, .fila2A, .fila2B{
        width: 100%;
        /* border: 1px red solid; */
        margin: 20px 0px;
    }

    .fila1A p, .fila1B p, .fila2A p, .fila2B p{
        font-size: 16px;
    }
    .fila1A h4, .fila1B h4, .fila2A h4, .fila2B h4{
        font-size: 18px;
    }


    /* <!-- Termina Seccion de fotoGrande y fotitos CSS --> */
    
    /* Empieza Seccion 3 Slider de Imagenes CCS */
    
    .pescadoramarillo{
        display: none;
    }
    .pescadorcamuflaje{
        display: none;
    }

    .textoarribaSlider{
        position: absolute;
        left: 0%;
        top: 5%;
        padding-left:10px ;
    }

    .swiper {
        width: 80%;
        height: 320px;
        text-align: center;
        background: #F8FAFE;
        /* border: 2px #B0A3DF solid; */
      }
    
      .swiper-button-prev, .swiper-button-next{
        --swiper-navigation-size:20px;
        --swiper-navigation-color:#5D39C4;
      }
      .encimafoto{
       display: none;
      }
      .fondocurva{
        display: none;
      }
      .textoarribaSlider{
        position: relative;
        margin: 20px 0px;
      }
      .contenedorslidereImagenes{
        display: flex;
        flex-direction: column;
        background-color: #F8FAFE;
      }
 
    /* Termina Seccion 3 Slider de Imagenes CCS */

    /* Empieza Seccion 4 Wilcard Fishing */
    .variasfotos{
        flex-direction: column;
        /* border: 1px black solid; */
    }
    .variasfotos div{
        width: 100%;
    }
    /* Termina Seccion 4 Wilcard Fishing */
    .carrousel{
        /* background-color: black; */
        width: 100%;
        padding: 5px;
        overflow: hidden;
        margin: auto;
        /* border: 2px #5D39C4 solid; */
    }
    .carrousel .precio{
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: all 0.5s;
        font-size: 10px;
        padding: 15px 10px 10px 10px;
        /* border: 1px blue solid; */
        color: #fff;
       background-color: #573ba5;
       opacity: .7;
       width: 100%;
    }

    .seccion5Compra{
        background-color: #F8FAFE;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Seccion Planes */
    .Ventas{
        display: block;
        height: auto;
    }
    .imagenesVentas{
        display: none;
    }
    .planesVenta{
        display: flex;
        flex-direction: column;
    }

    .plan, .plan2 {
        margin-top: 20px;
        background-color: #fff;
        color: #000;
        padding: 10px;
        text-align: center;
        /* border-radius: 10px; */
        width: 80%;
        border: 1px rgba(0, 0, 0,.1) solid;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* border: 1px red solid; */
      }
      .planesVenta{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }

      .moradito{
        color: #573ba5;
      }
      .btn-comprar{
        background-color: #573ba5;
        color: #fff;
      }


      /* Tarjetas Seccion Blog Recent */

      .blogRecent{
        display: flex;
        flex-direction: column;
        height: auto;
      }
      .tarjetas{
        display: flex;
        flex-direction: column;
        height: auto;
      }
      .tarjetas .tarjeta{
        width: 90%;
      }

      .moradoarriba{
        display: none; 
}
.informacionpiePagina{
    flex-direction: column;
    padding-top: 30px;
    /* border: 1px lime solid; */
  }
  .numero1, .numero2, .numero3, .numero4{
    width: 100%;
}
/* GOTOP */
 
.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
  }
  
  .go-top-button {
    width: 0rem;
    height: 0rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: 0.2s;
  }
  
  .show {
    z-index: 10;
  }
  
  .show .go-top-button {
    animation: popup 0.3s ease-in-out;
    width: 4.6rem;
    height: 4.6rem;
    z-index: 11;
  }
  
  .show i {
    transform: translate(-50%, -50%) scale(1);
  }
  
  @keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6.6rem;
        height: 6.6rem;
    }
  }
}
